<!-- addsleeplog.ejs -->
<!DOCTYPE html>
<html lang="en">
  <!-- Pass a JavaScript variable to a partial in EJS -->
  <%- include('partials/head.ejs', { title: "Add Sleeplog" }) %>

  <body>
    <%- include('partials/navbar') %>

    <div class="content">
      <div class="create">
        <h2>Add a New Sleeplog</h2>
        <form action="/addSleeplog" method="POST">
          <label for="date">Date:</label>
          <input type="date" id="date" name="date" required /><br />

          <label>Hours Slept:</label
          ><input type="number" value="" id="hoursSlept" name="hoursSlept" required />

          <label>Quality:</label
            ><input type="number" value="" id="quality" name="quality" required />

          <label for="comments">Comments:</label>
          <textarea
            value=""
            id="comments"
            name="comments"
            rows="4"
            required
          ></textarea
          ><br />

          

      
          <button type="submit">Add Sleeplog</button>
        </form>
      </div>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>